p,a{
    color:green;
}
/* a{
    color:green;
} */

/* li{
    list-style-type: none;
} */


li{
    list-style-type: square;
}

/* .special{
    color:orange;
    font-weight: bold;
} */

/* span.special{
    color:orange;
    font-weight:bold;
} */

/* li em{
    color:rebeccapurple;
} */

/* h1+p{
  font-size:200%;    
} */

/* sudo class selector
a:hover{
    color: saddlebrown;
    text-decoration: none;
} */

/* class selector
body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 5px;

} */

